.description{
    width:60%;
}

body section:nth-of-type(2) div.section-content{
    padding-top:1em;
}

body section:nth-child(2) h2{
    margin-top:3em;
    margin-bottom:2em;
}

.vector{
    max-width: 5em;
    height:auto;
}


.vector-item{   
    margin-right:2em;
}

.vector-item p {
    width:80%;
}

.vector-container{
    display:flex;
    justify-content: space-between;
}


@media only screen and (max-width: 768px) {


    .description{
        width:100%;
    }

    .vector-container{
        flex-direction: column;
    }

    .vector-item{
        margin-top:1em;
    }
 
 }