

.checkbox-container{
    display:flex;
    align-items: center;
}

.checkbox-container label{
    display:flex;
}

.checkbox-container input[type="checkbox"]{
    opacity:0;
    position:absolute;

}

.checkbox-container label::before{
    content: "";
    width:1em;
    height:1em;
    border: .05em solid white;
    border-radius: .15em;
    margin-right:.5em;
}
/* 
.checkbox-container label:hover::before,
.checkbox-container input[type="checkbox"]:hover + label::before{
    background-color: green;
} */

.checkbox-container input[type="checkbox"]:checked + label::before{
    content: "\002714";
    background-color:darkgreen;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}