section{
   min-height:50em;
}
a{
    color:white;
    text-decoration: underline;
}

textarea, input, button { 
    border:none;
    outline:none;
 }

 h2{
     font-weight: bold;
 }

 h1{
    font-size:4rem;
    font-weight: bold;
    margin:0;
}

p{
    font-size: .9rem;
    text-align: justify;
}


@media only screen and (max-width: 768px) {
   h1{
       font-size:2rem;
   }

   p{
       width:90%;
   }

}